.wait-for-load{
}
.while-loading{
    width: 100vw;
    height: calc(100vh - 30px);
    display: inline-block;
    line-height: 100vh;
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: darkslateblue;
}
.game-container{
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: darkslateblue !important;
    color: #fff !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.game-header{
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 50px;
}
.playground{
    width: 93vw;
    height: 93vw;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin: 10px auto;
    /*left: 50%;*/
    /*top: 100px;*/
    /*margin-left: -47%;*/
    padding: 1vw;
    border: 2px solid #ccc;
}
.cell{
    /*float: left;*/
    /*width: 20vw;*/
    /*height: 20vw;*/
    /*margin: 1.5vw;*/
    /*background-color: #ccc;*/
    /*box-sizing: border-box;*/
}
.tiles-container{
    position: relative;
}
.tile {
    z-index: 50;
}
.absorbed {
    z-index: 1;
}
.tile, .cell{
    position: absolute;
    box-sizing: border-box;
    border-radius: 3px;
}
.tile{
    transition: 70ms all;
}
.tile.ng-enter {
    transition: 0.3s opacity;
    opacity: 0;
}
.tile.ng-enter-active {
    opacity: 1;
}
.next-tile {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    border: 1px solid #ccc;
}
.score-container {
    margin-top: 10px;
    display: block;
    overflow: hidden;
    line-height: normal;
}
.page-header {
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: large;
    font-weight: bold;
    color: #f2dede;
    padding: 0!important;
    margin: 0!important;
    width: 100%;
}
button {
    color: darkslateblue !important;
    border: 1px solid #888;
    background-color: #fff!important;
}
.rainbow {
    height: 30px;
    margin: 0 auto;
    width: 90vw;
    position: relative;
}
.rainbow-part{
    /*width: 9vw;*/
    height: 10px;
    margin-top: 10px;
    float: left;
    border: 1px solid #ccc;
}
.color-pointer{
    width: 10px;
    height: 10px;
    position: absolute;
    /*top: 10px;*/
    z-index: 99;
    margin-left: -5px;
}
.game-over-img{
    width: 90vw;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -45vw;
    z-index: 90;

}
.game-over-img.ng-enter{
    transition: 400ms all;
    width: 1vw;
    opacity: 0;
    transform: rotate(180deg);
}
.game-over-img.ng-enter-active{
    transition: 400ms all;
    width: 90vw;
    opacity: 1;
    transform: none;
}
.game-options-img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.game-options {
    padding-top: calc(50vh - 80px - 60px + 30px);
    position: absolute;
    top: 30px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 30px);
    z-index: 95;
    background-color: rgba(0,0,0,0.8);
}
.game-option {
    width: 100%;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.active {
    color: #ffff00;
}
.album-page{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    font-size: smaller;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    text-align: center;

}
.album-page.ng-enter{
    transition: 0.2s all;
    margin-bottom: -20px;
}
.album-page.ng-enter-active{
    transition: 0.2s all;
    margin-bottom: 0;
}

