.wait-for-load{
}
.while-loading{
    width: 100vw;
    height: calc(100vh - 30px);
    display: inline-block;
    line-height: 100vh;
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: darkslateblue;
}
.game-container{
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: darkslateblue !important;
    color: #fff !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.game-header{
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 10vh;
}
.playground{
    width: 93vw;
    height: 93vw;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin: 10px auto;
    /*left: 50%;*/
    /*top: 100px;*/
    /*margin-left: -47%;*/
    padding: 1vw;
    border: 1px solid #ccc;
}
.cell{
    /*float: left;*/
    /*width: 20vw;*/
    /*height: 20vw;*/
    /*margin: 1.5vw;*/
    /*background-color: #ccc;*/
    /*box-sizing: border-box;*/
}
.tiles-container{
    position: relative;
}
.tile, .cell{
    position: absolute;
    box-sizing: border-box;
}
.tile.ng-enter {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    opacity: 0;
}
.tile.ng-enter-active {
    opacity: 1;
}
.next-tile {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    border: 1px solid #ccc;
}
.score-container {
    margin-top: 10px;
    display: block;
    overflow: hidden;
    line-height: normal;
}
.page-header {
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: large;
    font-weight: bold;
    color: #f2dede;
    padding: 0!important;
    margin: 0!important;
    width: 100%;
}
button {
    color: darkslateblue !important;
    border: 1px solid #888;
    background-color: #fff!important;
}
.rainbow {
    height: 30px;
    margin: 0 auto;
    width: 90vw;
    position: relative;
}
.rainbow-part{
    /*width: 9vw;*/
    height: 10px;
    margin-top: 10px;
    float: left;
    border: 1px solid #ccc;
}
.color-pointer{
    width: 10px;
    height: 10px;
    position: absolute;
    /*top: 10px;*/
    z-index: 99;
    margin-left: -5px;
}

