.wait-for-load{
}
.while-loading{
    width: 100%;
    height: 100%;
    display: inline-block;
    /*line-height: 100vh;*/
    z-index: 100;
    position: absolute;
    /*top: 50px;*/
    left: 0;
    top: 0;
    background-color: #F1F1F1 !important;
}
.while-loading img{
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    width: 400px;
}

.game-container{
    /*width: 100%;*/
    position: relative;
    overflow: hidden;
    background-color: #245269;
}
@font-face {
    font-family: mainFont ;
    src: url('../fonts/GetVoIPGrotesque.ttf') format("truetype");
}
body{
    margin: 0 !important;
    padding: 0 !important;
    color: #fff !important;
    width: 100vw;
    /*height: 100vh;*/
    position: fixed;
    font-family: "mainFont" !important;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
.game-header{
    margin: auto;
    height: 50px;
    text-align: center;
    /*display: inline-block;*/
    line-height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.75);

}
.shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);


}

.playground{
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin: 10px auto;
    border: 2px solid #ccc;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3) !important;
}
.cell{
    /*float: left;*/
    /*width: 20vw;*/
    /*height: 20vw;*/
    /*margin: 1.5vw;*/
    /*background-color: #ccc;*/
    /*box-sizing: border-box;*/
    color: #ccc;
}
.tiles-container{
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cell{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.tile {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 50;
}
.absorbed {
    z-index: 1;
}
.tile, .cell{
    position: absolute;
    box-sizing: border-box;
    border-radius: 10%;
}
.tile{
    transition: 100ms all;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;
    color: #245269;
    transform: translateZ(0);
}
.tile.ng-enter {
    transition: 0.1s opacity;
    opacity: 0;
}
.tile.ng-enter-active {
    opacity: 1;
}
.next-tile {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.score-container {
    margin-top: 10px;
    display: block;
    overflow: hidden;
    line-height: normal;
}
.page-head {
    display: inline-block;
    /*line-height: 50px;*/
    /*font-size: x-large;*/
    /*font-weight: bold;*/
    color: #f2dede;
    margin-bottom: 20px;
    width: 100%;
}
.button {
    color: rgb(24, 52, 69);
    font-size: 13px;
    padding: 9px;
    /*text-shadow: 5px 0px 3px rgba(30, 30, 30, 0.3);*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(208, 208, 210);
    background: -moz-linear-gradient(90deg, rgb(208, 208, 210) 30%, rgb(220, 225, 224) 70%);
    background: -webkit-linear-gradient(90deg, rgb(208, 208, 210) 30%, rgb(220, 225, 224) 70%);
    background: -o-linear-gradient(90deg, rgb(208, 208, 210) 30%, rgb(220, 225, 224) 70%);
    background: -ms-linear-gradient(90deg, rgb(208, 208, 210) 30%, rgb(220, 225, 224) 70%);
    background: linear-gradient(0deg, rgb(208, 208, 210) 30%, rgb(220, 225, 224) 70%);
    -webkit-box-shadow: 0px 0px 8px rgba(10, 10, 10, 0.5);
    -moz-box-shadow:    0px 0px 8px rgba(10, 10, 10, 0.5);
    box-shadow:         0px 0px 8px rgba(10, 10, 10, 0.5);
}
a.button{
    text-decoration: none;
}
a.button:hover{
    text-decoration: none;
}
.button.ng-click-active{
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    padding: 8px;
}
.rainbow {
    height: 30px;
    margin: 0 auto;
    width: 90%;
    position: relative;
}
.rainbow-part{
    height: 10px;
    margin-top: 10px;
    float: left;
    border: 1px solid #ccc;
}
.color-pointer{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99;
    margin-left: -5px;
}
.game-over-img{
    width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -45%;
    z-index: 90;

}
.game-over-img.ng-enter{
    transition: 400ms all;
    width: 1vw;
    opacity: 0;
    transform: rotate(180deg);
}
.game-over-img.ng-enter-active{
    transition: 400ms all;
    width: 90%;
    opacity: 1;
    transform: none;
}
.game-options-img {
    cursor: pointer;
    position: absolute;

}
.game-options {
    padding-top: 30%;
    position: absolute;
    /*top: 50px;*/
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 95;
    background-color: rgba(0,0,0,0.8);

}
.game-option.ng-enter{
    transition: 100ms all;
    margin-top: 100vh;
}
.game-options.ng-enter-active{
    transition: 100ms all;
    margin-top: 0;
}
.game-option {
    width: 100%;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    color: #ccc;
}


.active {
    color: #ffff00 !important;
}
.album-page{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    font-size: smaller;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 90;
}
.album-page.ng-enter{
    transition: 0.2s all;
    margin-bottom: -20px;
}
.album-page.ng-enter-active{
    transition: 0.2s all;
    margin-bottom: 0;
}
.console{
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

