.cell{
    /*float: left;*/
    background-color: #fff;
    box-sizing: border-box;
    /*margin: 1%;*/
}

.easy.cell, .easy.tile{
    width: 14%;
    height: 14%;
}

.tiles-container.easy{
    /*width: 95%;*/
    /*height: 95%;*/
    margin: 2%;
}

.x0{
    top: 1%;
}
.y0{
    left: 1%;
}

.easy.x1{
    top: calc(14% + 3%);
}
.easy.y1{
    left: calc(14% + 3%);
}
.easy.x2{
    top: calc(28% + 5%);
}
.easy.y2{
    left: calc(28% + 5%);
}
.easy.x3{
    top: calc(42% + 7%);
}
.easy.y3{
    left: calc(42% + 7%);
}
.easy.x4{
    top: calc(56% + 9%);
}
.easy.y4{
    left: calc(56% + 9%);
}
.easy.x5{
    top: calc(70% + 11%);
}
.easy.y5{
    left: calc(70% + 11%);
}

.normal.cell, .normal.tile{
    width: 18%;
    height: 18%;
}

.normal.x1{
    top: calc(18% + 3%);
}
.normal.y1{
    left: calc(18% + 3%);
}
.normal.x2{
    top: calc(36% + 5%);
}
.normal.y2{
    left: calc(36% + 5%);
}
.normal.x3{
    top: calc(54% + 7%);
}
.normal.y3{
    left: calc(54% + 7%);
}
.normal.x4{
    top: calc(72% + 9%);
}
.normal.y4{
    left: calc(72% + 9%);
}

.hard.cell, .hard.tile{
    width: 23%;
    height: 23%;
}

.hard.x1{
    top: calc(23% + 3%);
}
.hard.y1{
    left: calc(23% + 3%);
}
.hard.x2{
    top: calc(46% + 5%);
}
.hard.y2{
    left: calc(46% + 5%);
}
.hard.x3{
    top: calc(69% + 7%);
}
.hard.y3{
    left: calc(69% + 7%);
}