<!DOCTYPE html>
<html>
<head lang="en">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/tile-position.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Color Match</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
</head>
<body>
<div class="container-fluid page-header text-center">ColorMatch 2048</div>
<div class="while-loading text-center"><img src="img/loading.gif"/></div>
<div ng-controller="gameController" ng-cloak class="game-container wait-for-loading">
    <img class="game-options-img" src="img/game-options.png" ng-click="toggleOptions()" />
    <div class="game-options" ng-if="optionsVisibility">
        <div ng-if="!game.size">
            <div class="game-option" ng-class="{active: hard}" ng-click="setDifficulty('hard')">HARD</div>
            <div class="game-option" ng-class="{active: normal}" ng-click="setDifficulty('normal')">NORMAL</div>
            <div class="game-option" ng-class="{active: easy}" ng-click="setDifficulty('easy')">EASY</div>
        </div>

        <div class="game-option" ng-click="toggleSound()">SOUND {{sound}}</div>
    </div>
    <img src="img/game-over.png" class="game-over-img" ng-if="game.gameOver">
    <div class="game-header">
        <div class="col-xs-6 text-center">
            <button type="button" class="btn-sm" ng-click="startGame()" ng-if="!game.size">New Game</button>
            <button type="button" class="btn-sm" ng-click="endGame()" ng-if="game.size">End Game</button>
            <!--<button type="button" class="btn-sm" ng-click="chooseDiff()" ng-disabled="game.size">Difficulty</button>-->
        </div>
        <div class="col-xs-6 text-center score-container">
            <span class="score" ng-if="game.size">score: {{game.score}}</span><br/>
            <span class="score">best score: {{recordScore}}</span>
        </div>
    </div>
    <div class="playground" game="game">
        <div class="tiles-container">
            <div class="cell" ng-repeat="n in [] | range:boardSize" ng-class="difficulty +' '+ getCellClasses($index).x +' '+ getCellClasses($index).y">{{$index}}</div>
        </div>
        <div class="tiles-container">
            <div class="tile animate" ng-repeat="tile in game.tilesCollection track by tile.count" tile="tile" ng-class="difficulty">
                {{tile.count}}
                <div class="next-tile" ng-style="{'background-color':tile.nextColor}" ng-if="tile.nextColor"></div>
            </div>
        </div>
    </div>

    <div class="game-footer container-fluid rainbow">
        <img src="img/pointer-down.png" class="color-pointer" max-color-n="recordColor" top="0"/>
        <div class="rainbow-part"
             ng-repeat="color in colors"
             ng-if="$index < colors.length - 1"
             color-n = $index></div>
        <img src="img/pointer.png" class="color-pointer" max-color-n="game.maxColorN" top="20"/>
    </div>
    <div class="album-page" ng-if="albumPage">For better performance rotate device.</div>
    <!--<button type="button" ng-click="addTile()" style="margin-top: 400px">Добавить плитку</button>-->
</div>
<script type="text/javascript" src="js/_lib/require.js" data-main="js/init"></script>
</body>
</html>